.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}
.buttoncomponent{
 font-size: 30px;
 padding: 1rem;
 border-radius: 15px;
 font-weight: 800
}
.buttoncomponent :hover{
    background-color:gray;
    border: white;
    color: white;
    cursor: pointer;
}
.todo{
    justify-content: center;
    align-items: center;
    /*margin: auto*/
}
.todoinput{
    width: 20rem;
    padding: 1.5rem;
    padding-top: 30px;
    border-radius: 15px;
    margin-right: 1rem;
    font-size: 30px
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
